<div class="sidebar-panel">
  <div id="scroll-area" class="navigation-hold" fxLayout="column">
    <!-- App Logo -->
    <div class="branding default-bg">
      Walmart Lab Assignment
    </div>

    <!-- Sidebar user -->
    <div class="app-user">
      <div class="app-user-photo">
        <img src="assets/images/face-7.jpg" alt="">
      </div>
      <span class="app-user-name mb-05">
        <mat-icon class="icon-xs text-muted">lock</mat-icon> 
        Full Name: {{ fullName }} <br> Role: {{ role }}
      </span>
    </div>
    <!-- Navigation -->
    <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
  </div>
</div>