<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="taskname"
        [formControl]="itemForm.controls['name']"
        placeholder="Task Name">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="description"
        [formControl]="itemForm.controls['description']"
        placeholder="Task Description">
      </mat-form-field>
    </div>
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="feedback"
        [formControl]="itemForm.controls['feedback']"
        placeholder="Task FeedBack">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
          <mat-select placeholder="Task Status" [formControl]="itemForm.controls['taskStatusString']">
            <mat-option value="CREATED">CREATED</mat-option>
            <mat-option value="ASSIGNED">ASSIGNED</mat-option>
            <mat-option value="IN_PROGRESS">IN PROGRESS</mat-option>
            <mat-option value="FINISHED">FINISHED</mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
          <mat-select placeholder="Task Priority" [formControl]="itemForm.controls['taskPriorityString']">
            <mat-option value="HIGH">HIGH</mat-option>
            <mat-option value="MEDIUM">MEDIUM</mat-option>
            <mat-option value="LOW">LOW</mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['timeEstimatedFinish']" [matDatepicker]="picker" placeholder="Due Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
 
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="assignees"
        [formControl]="itemForm.controls['assignedStaffIdSet']"
        placeholder="Assignees">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="reporters"
        [formControl]="itemForm.controls['managerIdSet']"
        placeholder="Reporters">
      </mat-form-field>
    </div>
  <!--
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="balance"
        [formControl]="itemForm.controls['balance']"
        placeholder="Balance">
      </mat-form-field>
    </div> -->
    <!-- <div fxFlex="50"  class="pt-1 pr-1">
      <mat-slide-toggle [formControl]="itemForm.controls['isActive']">Active Customer</mat-slide-toggle>
    </div> -->



    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>