<div class="m-333">
  <!-- <span fxFlex></span> -->
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Add Member</button>
</div>
<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="items"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Task Name" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Reporter" [flexGrow]="1.5">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.reporter }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Assignee" [flexGrow]="1.5">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.assignee }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Due Date" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.timeEstimatedFinish | date }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Priority" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.taskPriorityString=='HIGH'">{{row.taskPriorityString}}</mat-chip>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.taskStatusString=='CREATED'">{{row.taskStatusString}}</mat-chip>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Recurring" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isRecurring=='true'">{{row.isRecurring}}</mat-chip>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  </mat-card-content>
</mat-card>
